@media only screen and (min-width: 788px) and (max-width: 979px) {

    .qualidade::after{
        right: 66px;       
    }
    .qualidade-lista li{
        padding: 0 10px
    }
    .footer {
        height: 200px;        
    }
    .produtos-pg{
        height: 490px;
    }
    .produtos-pg h2{
        top: -150px;        
        margin-bottom: -65px;
    }
    .pg-icone{
        background-color: #000000;
        padding: 41px 0;
    }
    .produto-info p{
        font-size: 14px;
        padding: 10px 30px;
        height: 122px;
    }
    .produto-info ul li {
        width: 181px;
    }
}




@media only screen and (max-width: 787px) {

    header{
        position: relative;
        padding-bottom: 0;
    }
    header img{
        margin: 0 auto 20px auto;
    }
    .head-menu{
        text-align: center;
    }
    .head-menu ul li{
        margin: 4px;
    }
    .head-menu ul li a {
        font-size: 18px;
        padding: 10px 10px; 
        border: 3px solid #000000;
        display: block;
        float: left;
        width: 130px;
    }
    .head-menu ul li a:hover{
        border-color: #ffffff;
        transition: ease 0.3s;
    }
    .head-menu ul li a.menu-ativo{
        border-color: #ffffff;
    }
    .intro{
        margin-top: 0;
        padding-top: 40px;
    }
    .qualidade::after{
        display: none;
    }
    .footer {
        height: auto;        
    }
    .intro h1 {
        font-size: 36px;
        font-weight: bold;
        color: #ffffff;
        text-transform: uppercase;
    }
    .intro-sobre, .intro-produtos,.intro-port, .intro-contato{
        margin: 0;
        padding-top: 40px
    }
    .conteudo-sobre{
        display: grid;
        margin-top: 40px;
    }
    #margin{
        margin-bottom: 0;
    }
    .produtos-pg{
        height: auto;
        margin-bottom: 130px;
    }
    .produtos-pg h2{
        top: -110px;        
        margin-bottom: -68px;
    }
    .pg-icone{
        background-color: #000000;
        padding: 25px 0;
    }
    .produto-info p{
        font-size: 14px;
        padding: 10px 30px;
        height: auto;
    }
    .produto-info ul li {
        width: 149px;
        margin-bottom: 60px;
        font-size: 16px;
        line-height: 20px;
        padding-top: 14px;
    }
    .orçamento{
        height: auto;
    }
    .form {
        padding-right: 0px;
    }
    .italico {
        margin-top: 30px;
    }
    .img-margin{
        margin-top: 350px;
        margin-left: 0px;
        margin-right: 0px;
    }
}