body{
    font-family: Arial, Helvetica, sans-serif;
}
p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    line-height: 25px;
}
header {
    width: 100%;
    background-color: #fec63e;
    padding: 10px 0px;
    position: fixed;
    top: 0;
    z-index: 10;
}
img{
    display: block;
}
.btn{
    color: #fec63e;
    border: 3px solid #fec63e;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 25px;
}
.btn:hover {
    color: #ffffff;
    border-color: #ffffff;
    transition: ease-out 0.8s;
}
.btn-black:hover{
    color: #000000;
    border-color: #000000;
    transition: ease-out 0.8s;
}
.head-menu {
    text-align: right;
}
.head-menu ul li {
    display: inline-block;
    margin-left: 20px;
    margin-top: 20px;
}
.head-menu ul li a {
    font-weight: bold;
    font-size: 14px;
    color: #000000;
    letter-spacing: .0.5em;
    line-height: 20px;
    padding-top: 10px;
}
.head-menu ul li a:hover{
    color: #ffffff;
    transition: ease-out 0.5s;
}
.intro{
    width: 100%;
    background: url(../img/bg.jpg);
    background-size: cover;
    margin-top: 82px;
    height: 380px;
    text-align: center;
    padding-top: 80px;
}
.intro h1 {
    font-size: 48px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
}
.citação{
    max-width: 320px;
    margin: 0 auto;
    color: #ffffff;
    margin-bottom: 40px;
}
.citação p{
    font-style: italic;
    
}
.citação p::before, .citação p::after{
    content:"";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #ffffff;
    margin: 10px auto;

}
.citação cite{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: .1em;
}
.sub-title{
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: .0.5em;
    padding-bottom: 20px;
}
.sub-title::after{
    content:"";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #000000;
    margin: 8px auto;
}
.produtos{
    padding: 60px 0;
}
.produtos-list{
    text-align: center;
}
.produtos-list li {
    background-color: #fec63e;
}
.produtos-list li h3 {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: .0.5em;
    margin-top: 5px;
    padding-top: 10px;
}
.produtos-list li h3::after{
    content:"";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #000000;
    margin: 8px auto;
}
.produtos-icone{
    background-color: #000000;
    padding: 15px 0px 15px 0px;
    display: flex;
    justify-content: center;
}
.produtos-list li p {
    padding: 0px 10px 15px 10px; 
}
.call{
    text-align: center;
    padding-top: 30px;
    clear: both;
}
.call p {
    margin-bottom: 20px;
}
.portfolio{
    width: 100%;
    background-color: #000000;
    padding: 40px 0px 40px 0px;
}
.portfolio h2{
    color: #fec63e;
}
.portfolio h2::after{
    background-color: #fec63e;
}
.portfolio p{
    color: #ffffff;
}
.port-lista:last-child {
    margin-top: 20px;
}
.qualidade {
    padding: 60px 0px;
}
.qualidade::after{
    width: 634px;
    content: "";
    height: 83px;
    display: block;
    background: url(../img/linhas.svg) no-repeat center;
    position: absolute;
    top: 197px;
    right: 162px;
    z-index: -1;
}
.qualidade img{
    margin: 0 auto;
}
.qualidade-lista {
    padding-top: 20px;
}
.qualidade-lista li {
    text-align: center;
    padding: 0 40px;
}
.qualidade-lista li h3 {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: .0.5em;
    margin-top: 5px;
    padding-top: 10px;
}
.qualidade-lista li h3::after{
    content:"";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #000000;
    margin: 8px auto;
}
.quebra{
    background: url(../img/bg-footer.jpg) no-repeat;
    width: 100%;
    padding: 40px 0;
    height: 220px;
    background-size: cover;
    text-align: center;
}
.quebra .citação{
    max-width: 420px;
}
.footer {
    background: #000000;
    width: 100%;
    height: 180px;
    color: #ffffff;
    padding-top: 10px;
}
.footer .sub-title{
    padding-bottom: 10px;
}
.footer h3{
    color: #fec63e;
    text-align: start;
}
.footer h3::after{
    background-color: #fec63e;
    margin: 8px 0px;
}
.footer_historia p {
    text-align: start;
    line-height: 20px;
    max-width: 385px;
}
.footer_contato{
    text-align: start;
    line-height: 20px;
}
.footer_redes ul {
    display: flex;
}
.footer_redes ul li {
    margin-right: 20px;
    border: 3px solid #fec63e;
    padding: 10px;
}
.footer_redes ul li:hover{
    border-color: #ffffff;
    transition: ease-out 0.8s;
}
.copy {
    background-color: #fec63e;
    width: 100%;
}
.copy p {
    margin: 10px;
}
.active{
    color: #ffffff;
}